alert: {{ service_name }} down
expr: 'systemd_units_active_code{active="active",sub="running",name="{{ service_name }}",host="{{ ansible_fqdn }}"} != 1'
for:  1m
labels:
  severity: page
annotations:
  summary: {{ service_name }} {{ ansible_fqdn }} running
