alert: {{ service_name | camel_case }}Down
expr: systemd_units_sub_code{name="{{ service_name }}",host="{{ ansible_fqdn }}"} != 0

for:  1m
labels:
  severity: page
annotations:
  summary: {{ service_name }} {{ ansible_fqdn }} running
