# {{ ansible_managed }}
# Pod definition for pod: {{ item.name | mandatory }}
[Unit]
Description=Podman pod-{{ item.name | mandatory }}.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target netfilter-persistent.service
After=network-online.target netfilter-persistent.service
{#Requires={% for container in item.containers %}pod-container-{{ container.name }}.service{{ "," if not loop.last }}{% endfor %}#}
Before={% for container in item.containers %}pod-container-{{ container.name }}.service{{ " " if not loop.last }}{% endfor %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec={{ item.timeout_stop_sec | default('90s') }}
ExecStartPre=/bin/rm -f %t/%n-pid
ExecStartPre=-/usr/bin/podman pod rm --ignore -f {{ item.name }}
ExecStartPre=/usr/bin/podman pod create \
{% if item.network is defined %}--network {{ item.network }} \
{% endif -%}
--infra-conmon-pidfile %t/%n-pid \
{% for expose in item.exposes | default([]) -%}
    -p {{ expose }} \
{% endfor -%}
{% if item.share is defined %} --share {{ item.share }} \
{% endif -%}
--name {{ item.name | mandatory }}
ExecStart=/usr/bin/podman pod start {{ item.name }}
ExecStop=/usr/bin/podman pod stop --ignore {{ item.name }} -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore {{ item.name }}
PIDFile=%t/%n-pid
Type=forking

[Install]
WantedBy=multi-user.target default.target