# {{ ansible_managed }}
# Container definition for: {{ item.name | mandatory }}

[Unit]
Description=Podman {{ item.name | mandatory }} service
Wants=network.target netfilter-persistent.service
After=network-online.target netfilter-persistent.service

PartOf=podman.target
StopWhenUnneeded=true

# global dependencies
{% for svc in service_dependency | default([]) %}
Wants={{ svc }}
After={{ svc }}
{% endfor %}

# per service dependencies
{% for svc in item.service_dependencies | default([]) %}
Wants={{ svc }}
After={{ svc }}
{% endfor %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart={{ item.restart | default('always') }}
RestartSec={{ item.restart_sec | default('15s') }}
TimeoutStopSec={{ item.timeout_stop_sec | default('90s') }}
ExecStartPre=/bin/rm -f %t/%n-pid %t/%n-cid
ExecStartPre=-/usr/bin/podman rm {{ item.name | mandatory }}
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/%n-pid \
    --cidfile %t/%n-cid \
    --cgroups=no-conmon \
    -d \
    --name {{ item.name | mandatory }} \
{% if item.network is defined %}--network {{ item.network }} \
{% endif -%}
{% if item.ip is defined %}--ip {{ item.ip }} \
{% endif -%}
{% if item.dns is defined %}--dns {{ item.dns }} \
{% endif -%}
{% if item.cpus is defined %}    --cpus "{{ item.cpus }}" \
{% endif -%}
{% if item.memory is defined %}    --memory "{{ item.memory }}" \
{% endif -%}
{% if item.memory_reservation is defined %}    --memory-reservation "{{ item.memory_reservation }}" \
{% endif -%}
{% if item.user is defined and item.user != "" and item.group is defined and item.group != "" %}
    --user {{ item.user }}:{{ item.group }} \
{% endif -%}
{% for expose in item.exposes | default([]) %}
    -p {{ expose }} \
{% endfor -%}
{% for envvar in item.environment | default([]) %}
    -e {{ envvar }} \
{% endfor -%}
{% for mount in item.mounts | default([]) %}
    -v {{ mount }} \
{% endfor -%}
{% if item.health is defined %}
    --health-cmd="{{ item.health.cmd }}" \
    --health-interval={{ item.health.interval | default('30s') }} \
    --health-retries={{ item.health.retries | default(3) }} \
    --health-start-period={{ item.health.grace_period | default('20s') }} \
    --health-timeout={{ item.health.check_timeouts | default('30s') }} \
{% else %}
    --no-healthcheck=true \
{% endif -%}
    --log-driver=journald \
  {{ item.extra_args | default('') }} \
  {{ item.image | mandatory }} {{ (item.parameters | default([])) | join(' ') }}
ExecStop=-/usr/bin/podman stop --ignore {{ item.name | mandatory }} -t {{ item.timeout_stop_sec | default('90s') | regex_replace('\D+') }}
ExecStopPost=-/usr/bin/podman rm --ignore -f {{ item.name | mandatory }}
PIDFile=%t/%n-pid
Type=forking
{% if item.delegates is defined %}
Delegate={{ item.delegates | join(' ')  }}
{% endif %}
{% for service_extra in item.service_extras | default([]) %}
{{ service_extra }}
{% endfor %}

[Install]
WantedBy=podman.target
