# {{ ansible_managed }}
# need to bump TS on all!
# Pod container definition for pod: {{ item.0.name | mandatory }} container: {{ item.1.name | mandatory }}

[Unit]
Description=Podman pod: {{ item.0.name | mandatory }} container: {{ item.1.name | mandatory }}
BindsTo=pod-{{ item.0.name | mandatory }}.service
After=pod-{{ item.0.name | mandatory }}.service

PartOf=podman.target
StopWhenUnneeded=true

# global dependencies
{% for svc in service_dependency | default([]) %}
Wants={{ svc }}
After={{ svc }}
{% endfor %}

# per service dependencies
{% for svc in (item.0.service_dependencies | default([])) + (item.1.service_dependencies | default([])) %}
Wants={{ svc }}
After={{ svc }}
{% endfor %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart={{ item.1.restart | default('always') }}
RestartSec={{ item.1.restart_sec | default('15s') }}
TimeoutStopSec={{ item.1.timeout_stop_sec | default('90s') }}
ExecStartPre=/bin/rm -f %t/%n-pid %t/%n-cid
ExecStartPre=-/usr/bin/podman rm {{ item.1.name | mandatory }}
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/%n-pid \
    --cidfile %t/%n-cid \
    --cgroups=no-conmon \
    -d \
    --name {{ item.1.name | mandatory }} \
    --pod {{ item.0.name }} \
{% if item.cpus is defined %}    --cpus "{{ item.cpus }}" \
{% endif -%}
{% if item.1.memory is defined %}    --memory {{ item.1.memory }} \
{% endif -%}
{% if item.1.memory_reservation is defined %}    --memory-reservation "{{ item.1.memory_reservation }}" \
{% endif -%}
{% if item.1.user is defined and item.1.user != "" and item.1.group is defined and item.1.group != "" -%}
    --user {{ item.1.user }}:{{ item.1.group }} \
{% endif -%}
{% for envvar in item.1.environment | default([]) -%}
    -e {{ envvar }} \
{% endfor -%}
{% for mount in item.1.mounts | default([]) -%}
    -v {{ mount }} \
{% endfor -%}
{% if item.1.health is defined -%}
    --health-cmd="{{ item.1.health.cmd }}" \
    --health-interval={{ item.1.health.interval | default('30s') }} \
    --health-retries={{ item.1.health.retries | default(3) }} \
    --health-start-period={{ item.1.health.grace_period | default('20s') }} \
    --health-timeout={{ item.1.health.check_timeouts | default('30s') }} \
{% else %}
    --no-healthcheck=true \
{% endif -%}
    --log-driver=journald \
  {{ item.1.extra_args | default('') }} \
  {{ item.1.image | mandatory }} {{ (item.1.parameters | default([])) | join(' ') }}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n-cid -t {{ item.1.timeout_stop_sec | default('90s') | regex_replace('\D+') }}
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n-cid
PIDFile=%t/%n-pid
Type=forking
{% if item.1.delegates is defined %}
Delegate={{ item.1.delegates | join(' ')  }}
{% endif %}
{% for service_extra in item.1.service_extras | default([]) %}
{{ service_extra }}
{% endfor %}

[Install]
WantedBy=podman.target
